<h1>Login or create a new account</h1>
<%= link_to "Create Account", new_user_path %>

<%= form_for(:session, url: login_path) do |f|  %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Login", class: "btn btn-primary" %>
<% end  %>
