<h1>Current Cart</h1>

<% @cart.collect_freelancers.each do |freelancer| %>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag(freelancer.avatar.url(:square), class: "image-fl-index", id: "image_#{freelancer.id}") %>
      <h5>Name: <%= freelancer.name %></h5>
      <p> <%= freelancer.description %></p>
      </div>
      <div class="col-sm-4">
        <p> Quantity: <%= @cart.count_of(freelancer.id)%></p>
        <br>
        <br>
        <div class="btn-group btn-group-justified">
          <%= button_to "Increase Amount", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-info"%>
          <%= button_to "Decrease Amount", cart_path(freelancer_id: freelancer.id), class: "btn btn-info", method: :patch%>
        </div>
      </div>
        <div class="col-sm-4">
          <p> $<%= freelancer.price %>/hr</p>
          <p>  Subtotal: $<%= @cart.subtotal(freelancer) %></p>
          <%= button_to "Remove #{freelancer.name}'s time from your cart.", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-danger", method: :delete %>
        </div>
      </div>
    </div>
      <% end %>

  <h2>Total: $<%= @cart.total_price %></h2>
</div>
<% if current_user.nil? %>
  <div class="login-to-checkout">
    <%= link_to "Login or Create Account to Checkout", login_path %>
  </div>
<% else %>
  <div class="checkout">
    <%= button_to "Checkout", orders_path(cart_contents: @cart.contents) %>
  </div>
<% end %>
</div>
