<h1>Current Cart</h1>

<% @cart.collect_freelancers.each do |freelancer| %>
<div>
  <%= image_tag(freelancer.image, size: "100x100", class: "image-fl-index", id: "image_#{freelancer.id}") %>
  <h3>Name: <%= freelancer.name %></h3>
  <p><%= freelancer.description %></p>
  <p>Quantity: <%= @cart.count_of(freelancer.id)%></p>
  <%= button_to "Add an hour", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-danger"%>
  <%= button_to "Remove an hour", cart_path(freelancer_id: freelancer.id), class: "btn btn-danger", method: :patch%>
  <p>$<%= freelancer.price %>/hr</p>
  <p> Subtotal: $<%= @cart.subtotal(freelancer) %></p>
  <%= link_to "Remove #{freelancer.name}'s time from your cart.", cart_index_path(freelancer_id: freelancer.id), method: :delete %>

</div>
<% end %>
<div>
  <h2>Total: $<%= @cart.total_price %></h2>
</div>
