<h1>Current Cart</h1>

<div class="total-price-cart">
    <h3>Total: $<%= @cart.total_price %></h3>
    <% if current_user.nil? %>
  <div class="login-to-checkout">
    <%= link_to "Login or Create Account to Checkout", login_path %>
  </div>
    <% else %>
  <div class="checkout">
    <%= button_to "Checkout", orders_path(cart_contents: @cart.contents), class: 'btn btn-primary' %>
  </div>
    <% end %>
</div>

  <% @cart.collect_freelancers.each do |freelancer| %>
    <div class="row" id="item">
      <div class="col-sm-4">
        <%= link_to freelancer_path(freelancer) do %>
          <%=image_tag(freelancer.image, size: "150x150", class: "image-fl-index", id: "image_#{freelancer.id}") %>
        <% end %>
      <h4>Name: <%= freelancer.name %></h4>
      <p> <%= freelancer.description %></p>
      </div>
      <div class="col-sm-4 d-flex justify-content-around">
        <div class="d-flex flex-column justify-content-around">
        <h4> Quantity: <%= @cart.count_of(freelancer.id)%></h4>
          <%= button_to "Increase Amount", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-info"%>
          <%= button_to "Decrease Amount", cart_path(freelancer_id: freelancer.id), class: "btn btn-info", method: :patch%>
        </div>
      </div>
        <div class="col-sm-4 d-flex justify-content-around">
          <div class="d-flex flex-column justify-content-around">
          <h5> $<%= freelancer.price %>/hr</h5>
          <h4>  Subtotal: $<%= @cart.subtotal(freelancer) %></h4>
          <%= button_to "Remove #{freelancer.name}'s time from your cart.", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-danger", method: :delete %>
        </div>
      </div>
    </div>
      <% end %>
    </div>

</div>
