<div class="form-outline">
  <%=form_for [:admin, @freelancer] do |f| %>
  <div class="new-account-item">
    <div class="form-control account-input">
      <%= f.label :name, class: 'new-account-label'%>
      <%= f.text_field :name, class: 'new-account-box'%>
    </div>
  </div>

  <div class="new-account-item">
    <div class="form-control account-input">
      <%= f.label :description, class: 'new-account-label'%>
      <%= f.text_area :description, class: 'new-account-box'%>
    </div>
  </div>

  <div class="new-account-item">
    <div class="form-control account-input">
      <%= f.label :price, as: :currency, class: 'new-account-label'%>
      <%= f.text_field :price, class: 'new-account-box'%>
    </div>
  </div>

  <div class="new-account-item">
    <div class="form-control account-input">
      <%= f.label :category, class: 'new-account-label'%>
      <%= f.select :category, Category.all.pluck(:title) %>
    </div>
  </div>

  <div class="new-account-item">
    <div class="form-control account-input">
      <%= f.label :status, class: 'new-account-label'%>
        <%= f.select :status, ['active', 'retired'] %>
    </div>
  </div>

  <div class="new-account-item">
    <div class="form-control account-input">
      <%= f.label :avatar, class: 'new-account-label'%>
      <%= f.file_field :avatar, class: 'new-account-box'%>
    </div>
  </div>

  <div class="new-account-item">
    <%= f.submit "Submit", class: "btn btn-primary create-button" %>
  </div>
  <% end %>

</div>
