<h1>Admin Dashboard</h1>

<%=link_to "View All Freelancers", admin_freelancers_path %>
Ordered: <%= @orders.total_ordered %>
Paid: <%= @orders.total_paid %>
Completed: <%= @orders.total_completed %>
Cancelled: <%= @orders.total_cancelled %>
<br/>

  <h2>Filter by</h2>
  <%= link_to "Ordered", admin_dashboard_path(filter_by: 0) %>
  <%= link_to "Paid", admin_dashboard_path(filter_by: 1) %>
  <%= link_to "Cancelled", admin_dashboard_path(filter_by: 2) %>
  <%= link_to "Completed", admin_dashboard_path(filter_by: 3) %>
  <br/>

<div class="filtered-orders">
  <% @orders.each do |order| %>
  <div class="order-<%="#{order.id}"%>">
    Order Id:<%= order.id %>
    Order Status: <%= order.status %>
    <% if order.status == ("Ordered" || "Paid") %>
    <%= link_to "Cancel", admin_dashboard_path(order_id: order.id, status: 'Cancelled'), method: :patch %>
    <% end %>
    <% if order.Ordered? %>
    <%= link_to "Mark as Paid", admin_dashboard_path(order_id: order.id, status: 'Paid'), method: :patch %>
    <% end %>
    <% if order.Paid? %>
    <%= link_to "Mark as Completed", admin_dashboard_path(order_id: order.id, status: 'Completed'), method: :patch %>
    <% end %>
    <%= link_to "View Order #{order.id}", order_path(order) %>
  </div>
</br>
<% end %>
</div>
