<h1>Admin Dashboard</h1>
Ordered: <%= @orders.total_ordered %>
Paid: <%= @orders.total_paid %>
Completed: <%= @orders.total_completed %>
Canceled: <%= @orders.total_canceled %>
<br/>

  <h2>Filter by</h2>
  <%= link_to "Ordered", admin_dashboard_path(filter_by: 0) %>
  <%= link_to "Paid", admin_dashboard_path(filter_by: 1) %>
  <%= link_to "Canceled", admin_dashboard_path(filter_by: 2) %>
  <%= link_to "Completed", admin_dashboard_path(filter_by: 3) %>
  <br/>
<div class="filtered-orders">
  <% @orders.each do |order| %>
  Order Id:<%= order.id %> 
  Order Status:<%= order.status %>
  <%= link_to "View Order #{order.id}", order_path(order) %>
  </br>
  <% end %>
</div>
