<h1>Order: <%=@order.id%></h1>

<div>Date: <%= @order.created_at %></div>
<div>Status: <%= @order.status %></div>

<div>
  <% @order.grouped_freelancers.each do |id, quantity| %>

Name: <%= @freelancers.find(id).name %>
<%= @freelancers.find(id).price %>
Quantity: <%= quantity %> hour
Subtotal: <%= number_to_currency(@order.subtotal(id, quantity)) %>
<br/>
<% end %>
</div>


<div>Total: <%= number_to_currency(@order.total) %></div>
