<h1>Browse our Techies</h1>
  <% @freelancers.each do |freelancer| %>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="<%=freelancer.image%>" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Name: <%=freelancer.name%></h4>
      <p class="card-text"><%=freelancer.description%></p>
      <p class="card-text"><%=freelancer.price%>/hr</p>
      <%= button_to "Choose Me!", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-primary"%>
      </div>
      <% end %>
</div>
</div>
