<h1><%=@category.title %></h1>
  <%@category.freelancers.each do |freelancer| %>
    <div>
    <%= image_tag(freelancer.image, size: "50x50", class: "image-fl-index", id: "image_#{freelancer.id}") %>
     <h3>Name: <%= freelancer.name %></h3>
     <p><%= freelancer.description %></p>
     <p>$<%= freelancer.price %>/hr</p>
     <%= button_to "Choose Me!", '#', class: "btn btn-danger btn-sm"%>
   </div>
    <% end %>
    
