<h1><%=@category.title %></h1>

<div class="card-deck d-flex justify-content-between">
  <%@category.freelancers.in_groups_of(3, false).each do |group| %>
  <div class="row d-flex justify-content-around">
    <% group.each do |freelancer| %>
    <div class="card col-3 d-flex text-center">
      <%= image_tag("#{freelancer.image}", alt: "photo of #{freelancer.name}", class: "card-img-top") %>
      <h4 class="card-title">Name: <%=freelancer.name%></h4>
      <p class="card-text"><%=freelancer.description%></p>
      <p class="card-text"><%=freelancer.price%>/hr</p>
      <% if freelancer.active? %>
      <%= button_to "Choose Me!", cart_index_path(freelancer_id: freelancer.id), class: "btn btn-primary"%>
      <% else %>
      <p> Freelancer Retired </p>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
