<h1>Account Information for <%= @user.username %></h1>



<p>Email: <%= @user.email %></p>
<p>Company: <%= @user.company %></p>
<p>Address: <%= @user.address1 %></p>
<p>Address:<%= @user.address2 %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>
