<!DOCTYPE html>
<html>
  <head>
    <title>Techtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <a class="nav-link active" href="/">TechTime</a>
      <a class="nav-link" href="#">Create Account</a>
      <a class="nav-link" href="#">Login</a>
      <a class="nav-link" href="/categories">Categories</a>
      <a class="nav-link" href="/freelancers">Freelancers</a>
      <p>Cart: <%= @cart.total_count %></p>
      <p><%= link_to "View Cart", '/cart' %></p>
    </nav>


    <a class="navbar-brand" href="/"
      <img src="../images/7e548a5e-43d8-46d0-bde9-55b86fb22464.png" width="30" height="30" class="d-inline-block align-top" alt="">
    TechTime
    </a>


    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>
    <%= yield %>
  </body>
</html>
