<!DOCTYPE html>
<html>
  <head>
    <title>Techtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <p>Cart: <%= @cart.total_count %></p>
    </nav>
    <%= yield %>
  </body>
</html>
