<!DOCTYPE html>
<html>
  <head>
    <title>Techtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="/">
        <img src='7e548a5e-43d8-46d0-bde9-55b86fb22464.png' width="300" height="300" class="d-inline-block align-top" alt="">
      </a>
    <div class="nav-item">
        <a class="nav-link" href="/categories">Categories</a>
    </div>
      <div class="nav-item">
        <a class="nav-link" href="/freelancers">Freelancers</a>
    </div>
    <div class="nav-item">
      <p>Cart: <%= @cart.total_count %></p>
    </div>
    <div class="nav-item">
        <a href="/cart"> <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </div>
  </nav>


    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>
    <%= yield %>
  </body>
</html>
