<!DOCTYPE html>
<html>
  <head>
    <title>Techtime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <p>Login</p>
      <p>Cart: <%= @cart.total_count %></p>
      <p><%= link_to "View Cart", '/cart' %></p>
    </nav>
    <% flash.each do |type, message| %>
      <%= content_tag :div, sanitize(message), class: type %>
    <% end %>
    <%= yield %>
  </body>
</html>
